#search {
  width: 300px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.btn {
  position: relative;
  left: 50px;
}

.search-style {
  margin-left: 700px;
  margin-top: 20px;
}