body {
  background: #F2F2F2;
}

#search {
  width: 300px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.btn {
  color: white;
  background: #15CF89;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

p {
  margin: 2rem 0;
  color: gray;
}

.book-card {
  display: flex;
  padding: 1rem;
  max-width: 100%;
  background: white;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.book-card img {
  height: 200px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.card-text {
  padding: 0 2rem;
}

.all-books {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

@media (max-width: 850px) {
  .all-books {
    grid-template-columns: 1fr;
  }
  .book-card {
    max-width: 100%;
  }
}